In [1]:
import numpy as np
import pandas as pd
from equiflow import TableZero

In [2]:
np.random.seed(42)
n = 100
data = {
    'age': np.random.randint(18, 80, size=n),
    'sofa': np.random.choice([0,1,2,3,4,5,6,7,8,9,10,15, np.nan, 'NA'], size=n),
    'race': np.random.choice(['White', 'Black', 'Asian', 'Hispanic', None],
                             size=n),
    'sex': np.random.choice(['Male', 'Female'], size=n),
    'english': np.random.choice(['Fluent', 'Limited', np.nan, None], size=n),
}

for i in range(1, 11):
    data[f'var{i}'] = np.random.randn(n)

df = pd.DataFrame(data)

In [3]:
data_0 = df.copy()
data_1 = data_0.loc[data_0.sex == "Female"]
data_2 = data_1.loc[data_1.english == "Fluent"]
data_3 = data_2.loc[data_2.race != "Hispanic"]

t = TableZero(dfs = [data_0, data_1, data_2, data_3])

In [4]:
t.view_flow()

Cohort Flow  0 to 1  1 to 2  2 to 3

Inital, n       100      55       9
Removed, n       45      46       2
Result, n        55       9       7

In [12]:
t.view_cohorts(
    categorical = ['race','sex', 'english'],
    nonnormal = ['sofa'],
    normal = ['age'],
    format = 'N (%)',
    missingness = True,
    decimals = 1,
)

                           Cohort                                  \
                                0               1               2
Variable Value
Overall                       100              55               9
race     Hispanic       26 (26.0)       13 (23.6)        2 (22.2)
         Black          17 (17.0)       11 (20.0)        1 (11.1)
         White          28 (28.0)       14 (25.5)        2 (22.2)
         Asian          20 (20.0)        9 (16.4)        2 (22.2)
         Missing          9 (9.0)        8 (14.5)        2 (22.2)
sex      Male           45 (45.0)         0 (0.0)         0 (0.0)
         Female         55 (55.0)      55 (100.0)       9 (100.0)
         Missing          0 (0.0)         0 (0.0)         0 (0.0)
english  Limited        29 (29.0)       19 (34.5)         0 (0.0)
         Fluent         23 (23.0)        9 (16.4)       9 (100.0)
         Missing        48 (48.0)       27 (49.1)         0 (0.0)
age                   50.3 ± 19.2     49.7 ± 19.8     29.9 ± 12.8
         Missing          0 (0.0)         0 (0.0)         0 (0.0)
sofa               6.0 [3.0, 9.0]  6.0 [3.0, 8.0]  6.0 [3.2, 8.0]
         Missing        17 (17.0)       10 (18.2)        1 (11.1)


                                3
Variable Value
Overall                         7
race     Hispanic         0 (0.0)
         Black           1 (14.3)
         White           2 (28.6)
         Asian           2 (28.6)
         Missing         2 (28.6)
sex      Male             0 (0.0)
         Female         7 (100.0)
         Missing          0 (0.0)
english  Limited          0 (0.0)
         Fluent         7 (100.0)
         Missing          0 (0.0)
age                   28.0 ± 13.2
         Missing          0 (0.0)
sofa               7.0 [4.5, 8.0]
         Missing         1 (14.3)

In [6]:
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):