In [1]:
import numpy as np
import pandas as pd
from equiflow import TableZero

In [20]:
np.random.seed(42)
n = 100
data = {
    'age': np.random.randint(18, 80, size=n),
    'race': np.random.choice(['White', 'Black', 'Asian', 'Hispanic', None],
                             size=n),
    'sex': np.random.choice(['Male', 'Female'], size=n),
    'english': np.random.choice(['Fluent', 'Limited', np.nan], size=n),
}

for i in range(1, 11):
    data[f'var{i}'] = np.random.randn(n)

df = pd.DataFrame(data)

In [21]:
data_0 = df.copy()
data_1 = data_0.loc[data_0.sex == "Female"]
data_2 = data_1.loc[data_1.english == "Fluent"]
data_3 = data_2.loc[data_2.race != "Hispanic"]

t = TableZero(dfs = [data_0, data_1, data_2, data_3])

In [22]:
t.view_flow()

Cohort Flow  0 to 1  1 to 2  2 to 3

Inital, n       100      52      23
Removed, n       48      29       3
Result, n        52      23      20

In [23]:
t.view_cohorts(
    cols = ['race','sex', 'english'],
    format = 'N (%)',
    missingness = True,
    decimals = 2,
)

                      Cohort
                           0           1           2           3
Variable Value
Overall                  100          52          23          20
race     Black     13 (13.0)   8 (15.38)   3 (13.04)    3 (15.0)
         Hispanic  22 (22.0)   8 (15.38)   3 (13.04)     0 (0.0)
         White     25 (25.0)  11 (21.15)   4 (17.39)    4 (20.0)
         Asian     20 (20.0)  12 (23.08)   6 (26.09)    6 (30.0)
         Missing   20 (20.0)   13 (25.0)   7 (30.43)    7 (35.0)
sex      Female    52 (52.0)  52 (100.0)  23 (100.0)  20 (100.0)
         Male      48 (48.0)     0 (0.0)     0 (0.0)     0 (0.0)
         Missing     0 (0.0)     0 (0.0)     0 (0.0)     0 (0.0)
english  Limited   31 (31.0)  16 (30.77)     0 (0.0)     0 (0.0)
         nan       30 (30.0)   13 (25.0)     0 (0.0)     0 (0.0)
         Fluent    39 (39.0)  23 (44.23)  23 (100.0)  20 (100.0)
         Missing     0 (0.0)     0 (0.0)     0 (0.0)     0 (0.0)

In [5]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(t1)

NameError: name 't1' is not defined