In [1]:
import numpy as np
import pandas as pd
from equiflow import EquiFlow

In [2]:
np.random.seed(42)
n = 100000
data = {
    'age': np.random.randint(18, 80, size=n),
    'sofa': np.random.choice([0,1,2,3,4,5,6,7,8,9,10,15, np.nan], size=n),
    'race': np.random.choice(['White', 'Black', 'Asian', 'Hispanic', None],
                             size=n),
    'sex': np.random.choice(['Male', 'Female'], size=n),
    'english': np.random.choice(['Fluent', 'Limited', np.nan, None], size=n),
}

for i in range(1, 11):
    data[f'var{i}'] = np.random.randn(n)

df = pd.DataFrame(data)

In [3]:
data_0 = df.copy()
data_1 = data_0.loc[data_0.english.notnull()]
data_2 = data_1.loc[data_1.sofa.notnull()]

ef = EquiFlow(dfs = [data_0, data_1, data_2])

In [4]:
ef.table_flows(
    label_suffix=True
)

Cohort Flow   0 to 1  1 to 2

Inital, n    100,000  50,022
Removed, n    49,978   3,874
Result, n     50,022  46,148

In [5]:
t = ef.table_characteristics(
    categorical = ['race','sex', 'english'],
    nonnormal = ['sofa'],
    normal = ['age'],
    format = 'N (%)',
    missingness = True,
    decimals = 1,
    label_suffix = True,
    rename={'race': 'Race and Ethnicity',
            'english': 'English Proficiency',
            'sex':'Sex',
            'sofa': 'SOFA',
            'age': 'Age',  
            }
)
display(t)

                                             Cohort                  \
                                                  0               1
Variable                   Value
Overall                                     100,000          50,022
Race and Ethnicity, N (%)  Hispanic   20,024 (20.0)   10,011 (20.0)
                           Asian      19,952 (20.0)    9,918 (19.8)
                           Black      20,066 (20.1)   10,088 (20.2)
                           White      19,931 (19.9)    9,978 (19.9)
                           Missing    20,027 (20.0)   10,027 (20.0)
Sex, N (%)                 Male       50,052 (50.1)   25,049 (50.1)
                           Female     49,948 (49.9)   24,973 (49.9)
                           Missing          0 (0.0)         0 (0.0)
English Proficiency, N (%) Fluent     25,134 (25.1)   25,134 (50.2)
                           Limited    24,888 (24.9)   24,888 (49.8)
                           Missing    49,978 (50.0)         0 (0.0)
Age, Mean ± SD                          48.5 ± 17.9     48.5 ± 17.9
                           Missing          0 (0.0)         0 (0.0)
SOFA, Median [IQR]                   6.0 [3.0, 9.0]  6.0 [3.0, 9.0]
                           Missing      7,812 (7.8)     3,874 (7.7)


                                                  2
Variable                   Value
Overall                                      46,148
Race and Ethnicity, N (%)  Hispanic    9,197 (19.9)
                           Asian       9,145 (19.8)
                           Black       9,323 (20.2)
                           White       9,218 (20.0)
                           Missing     9,265 (20.1)
Sex, N (%)                 Male       23,089 (50.0)
                           Female     23,059 (50.0)
                           Missing          0 (0.0)
English Proficiency, N (%) Fluent     23,223 (50.3)
                           Limited    22,925 (49.7)
                           Missing          0 (0.0)
Age, Mean ± SD                          48.5 ± 17.9
                           Missing          0 (0.0)
SOFA, Median [IQR]                   6.0 [3.0, 9.0]
                           Missing          0 (0.0)

In [6]:
t.loc[('Sex, N (%)', 'Male'), ('Cohort',0)]

'50,052 (50.1)'

In [7]:
t.loc[('Sex, N (%)', 'Male'), ('Cohort',1)]

'25,049 (50.1)'

In [8]:
cat_smd(prop1=[0.49], prop2=[0.39], n1=500, n2=300,
                unbiased=False)

NameError: name 'cat_smd' is not defined

In [ ]:
prop1 = [0.501]
prop1[1:]

[]