In [1]:
import numpy as np
import pandas as pd
from equiflow import TableZero

In [9]:
np.random.seed(42)
n = 100
data = {
    'age': np.random.randint(18, 80, size=n),
    'sofa': np.random.randint(0, 24, size=n),
    'race': np.random.choice(['White', 'Black', 'Asian', 'Hispanic', None],
                             size=n),
    'sex': np.random.choice(['Male', 'Female'], size=n),
    'english': np.random.choice(['Fluent', 'Limited', np.nan, None], size=n),
}

for i in range(1, 11):
    data[f'var{i}'] = np.random.randn(n)

df = pd.DataFrame(data)

In [10]:
data_0 = df.copy()
data_1 = data_0.loc[data_0.sex == "Female"]
data_2 = data_1.loc[data_1.english == "Fluent"]
data_3 = data_2.loc[data_2.race != "Hispanic"]

t = TableZero(dfs = [data_0, data_1, data_2, data_3])

In [11]:
t.view_flow()

Cohort Flow  0 to 1  1 to 2  2 to 3

Inital, n       100      51       6
Removed, n       49      45       1
Result, n        51       6       5

In [12]:
t.view_cohorts(
    categorical = ['race','sex', 'english'],
    nonnormal = ['sofa'],
    normal = ['age'],
    format = 'N (%)',
    missingness = True,
    decimals = 1,
)

                             Cohort                                   \
                                  0                1               2
Variable Value
Overall                         100               51               6
race     White            29 (29.0)        21 (41.2)        4 (66.7)
         Asian            24 (24.0)         8 (15.7)        1 (16.7)
         Hispanic         24 (24.0)        12 (23.5)        1 (16.7)
         Black            14 (14.0)         6 (11.8)         0 (0.0)
         Missing            9 (9.0)          4 (7.8)         0 (0.0)
sex      Female           51 (51.0)       51 (100.0)       6 (100.0)
         Male             49 (49.0)          0 (0.0)         0 (0.0)
         Missing            0 (0.0)          0 (0.0)         0 (0.0)
english  Limited          32 (32.0)        21 (41.2)         0 (0.0)
         Fluent           18 (18.0)         6 (11.8)       6 (100.0)
         Missing          50 (50.0)        24 (47.1)         0 (0.0)
age                     50.3 ± 19.2      49.9 ± 19.7     48.2 ± 11.9
sofa               10.0 [5.8, 15.0]  9.0 [5.0, 14.5]  5.0 [1.8, 6.8]


                                3
Variable Value
Overall                         5
race     White           4 (80.0)
         Asian           1 (20.0)
         Hispanic         0 (0.0)
         Black            0 (0.0)
         Missing          0 (0.0)
sex      Female         5 (100.0)
         Male             0 (0.0)
         Missing          0 (0.0)
english  Limited          0 (0.0)
         Fluent         5 (100.0)
         Missing          0 (0.0)
age                   48.8 ± 13.2
sofa               4.0 [1.0, 6.0]

In [ ]:
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):