In [1]:
import numpy as np
import pandas as pd
from equiflow import TableZero

In [7]:
np.random.seed(42)
n = 100
data = {
    'age': np.random.randint(18, 80, size=n),
    'race': np.random.choice(['White', 'Black', 'Asian', 'Hispanic', None],
                             size=n),
    'sex': np.random.choice(['Male', 'Female'], size=n),
    'english': np.random.choice(['Fluent', 'Limited', np.nan, None], size=n),
}

for i in range(1, 11):
    data[f'var{i}'] = np.random.randn(n)

df = pd.DataFrame(data)

In [8]:
data_0 = df.copy()
data_1 = data_0.loc[data_0.sex == "Female"]
data_2 = data_1.loc[data_1.english == "Fluent"]
data_3 = data_2.loc[data_2.race != "Hispanic"]

t = TableZero(dfs = [data_0, data_1, data_2, data_3])

In [9]:
t.view_flow()

Cohort Flow  0 to 1  1 to 2  2 to 3

Inital, n       100      52      12
Removed, n       48      40       4
Result, n        52      12       8

In [10]:
t.view_cohorts(
    cols = ['race','sex', 'english'],
    format = 'N (%)',
    missingness = True,
    decimals = 2,
)

                      Cohort
                           0           1           2          3
Variable Value
Overall                  100          52          12          8
race     Black     13 (13.0)   8 (15.38)    1 (8.33)   1 (12.5)
         Hispanic  22 (22.0)   8 (15.38)   4 (33.33)    0 (0.0)
         White     25 (25.0)  11 (21.15)    3 (25.0)   3 (37.5)
         Asian     20 (20.0)  12 (23.08)   2 (16.67)   2 (25.0)
         Missing   20 (20.0)   13 (25.0)   2 (16.67)   2 (25.0)
sex      Female    52 (52.0)  52 (100.0)  12 (100.0)  8 (100.0)
         Male      48 (48.0)     0 (0.0)     0 (0.0)    0 (0.0)
         Missing     0 (0.0)     0 (0.0)     0 (0.0)    0 (0.0)
english  Limited   23 (23.0)  14 (26.92)     0 (0.0)    0 (0.0)
         Fluent    22 (22.0)  12 (23.08)  12 (100.0)  8 (100.0)
         Missing   55 (55.0)   26 (50.0)     0 (0.0)    0 (0.0)

In [11]:
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):