In [1]:
import numpy as np
import pandas as pd
from equiflow import TableZero

In [12]:
np.random.seed(42)
n = 100000
data = {
    'age': np.random.randint(18, 80, size=n),
    'sofa': np.random.choice([0,1,2,3,4,5,6,7,8,9,10,15, np.nan], size=n),
    'race': np.random.choice(['White', 'Black', 'Asian', 'Hispanic', None],
                             size=n),
    'sex': np.random.choice(['Male', 'Female'], size=n),
    'english': np.random.choice(['Fluent', 'Limited', np.nan, None], size=n),
}

for i in range(1, 11):
    data[f'var{i}'] = np.random.randn(n)

df = pd.DataFrame(data)

In [13]:
data_0 = df.copy()
data_1 = data_0.loc[data_0.english.notnull()]
data_2 = data_1.loc[data_1.sofa.notnull()]

t = TableZero(dfs = [data_0, data_1, data_2])

In [14]:
t.view_flow()

Cohort Flow   0 to 1  1 to 2

Inital, n    100,000  50,022
Removed, n    49,978   3,874
Result, n     50,022  46,148

In [15]:
t.view_cohorts(
    categorical = ['race','sex', 'english'],
    nonnormal = ['sofa'],
    normal = ['age'],
    format = 'N (%)',
    missingness = True,
    decimals = 1,
    label_suffix = True,
)

                                     Cohort
                                          0               1               2
Variable           Value
Overall                             100,000          50,022          46,148
race, N (%)        Hispanic   20,024 (20.0)   10,011 (20.0)    9,197 (19.9)
                   Asian      19,952 (20.0)    9,918 (19.8)    9,145 (19.8)
                   Black      20,066 (20.1)   10,088 (20.2)    9,323 (20.2)
                   White      19,931 (19.9)    9,978 (19.9)    9,218 (20.0)
                   Missing    20,027 (20.0)   10,027 (20.0)    9,265 (20.1)
sex, N (%)         Male       50,052 (50.1)   25,049 (50.1)   23,089 (50.0)
                   Female     49,948 (49.9)   24,973 (49.9)   23,059 (50.0)
                   Missing          0 (0.0)         0 (0.0)         0 (0.0)
english, N (%)     Fluent     25,134 (25.1)   25,134 (50.2)   23,223 (50.3)
                   Limited    24,888 (24.9)   24,888 (49.8)   22,925 (49.7)
                   Missing    49,978 (50.0)         0 (0.0)         0 (0.0)
age, Mean ± SD                  48.5 ± 17.9     48.5 ± 17.9     48.5 ± 17.9
                   Missing          0 (0.0)         0 (0.0)         0 (0.0)
sofa, Median [IQR]           6.0 [3.0, 9.0]  6.0 [3.0, 9.0]  6.0 [3.0, 9.0]
                   Missing      7,812 (7.8)     3,874 (7.7)         0 (0.0)

In [6]:
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):